{% extends 'layout.html.twig' %}

{% set active = 'homepage' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            Merhaba <br>
			Ticket Sistemine hoşgeldiniz
            {% if is_granted('ROLE_USER') %}
                {{ app.security.token.username }}
            {% endif %}
        </h1>
        <p>
            {% if is_granted('ROLE_USER') %}
                Giriş yaptınız.
                <a href="{{ path('logout') }}" class="btn btn-primary btn-lg" role="button">{{ 'Logout'|trans }}</a>
            {% else %}
                Giriş yapılmamıştır. Lütfen <a href="{{ path('login') }}">{{ 'connect'|trans }}</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
